* {
    font-family: 'NanumSquare', sans-serif !important;
}

body {
    padding : 0;
    margin : 0;

    background-color : #222222;
}

#logo {
	width : 100%;
	max-width : 600px;

    margin : 0 auto;
    display: block;
}

#wrap {
    width : 100%;

    text-align: center;

    display: inline-block;
}

.links {
	width : 100%;
	max-width : 800px;

    display: inline-block;

    margin : 0 0 10px 10px;

    box-shadow: 0 0 10px black;
}

.linkImg {
	width : 78.45%;

    margin : 0;
    padding : 0;
}

.linkicon {
	width : 35.45%;

    display: inline-block;

    margin : 0;
    padding : 0;
}

.appstoreicon{
	width : 70.45%;

    margin : 0;
    padding : 0;
}


.linkImg3 {
	width : 21.55%;

    margin : 0;
    padding : 0;
}

.linkImg4 {
	width : 100%;

    margin : 0;
    padding : 0;
}

.linksChildWrap {
    width : 21.55%;

    display: inline-block;
	vertical-align: top;
}

.linkImg2 {
    width : 100%;

    display: inline-block;
}

.text{
	width : 100%;
	
	color : white;
	font-size : 16px;
	
	text-align : center;
}